/* 
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    width: 100vw;
    
    background-color: aqua;

}
.item{
    width: 200px;
    height: 200px;
    background-color: blue;
}

header , footer{
    display: flex;
    justify-content: space-between;
}

.mid{
    display: flex;
    justify-content: center;
} */


.container{
    width: 100vw;
    
    display: grid;
    grid-template-columns: 1fr 1fr  1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 10px;

    grid-template-areas: "a . b" 
                        ". c ."
                        "d . e";  ;

}

.item{
  
    width: 200px;
    height: 200px;
    background-color: red;
    
}

.a{ grid-area: a;}
.b{ grid-area: b}
.c{ grid-area: c;}
.d{ grid-area: d;}
.e{ grid-area: e;}
.f{ grid-area: f;}